# Directory data to ignore
data/influx/*
data/kafka/*
data/zookeeper/*
data/couchbase/*
!data/influx/.gitkeep
!data/kafka/.gitkeep
!data/zookeeper/.gitkeep
!data/couchbase/.gitkeep
!data/influx_startup/influx_startup.sh

# general data to ignore
.DS_store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.env
